

/*Desktop
@media (min-width: 825px) and (max-width: 2440px){

}/*

/**************************************************************/
/*************************** Tablet ***************************/
/**************************************************************/

@media /*(min-width: 535px) and */(max-width: 824px){


/*************************** NAV BAR ***************************/

        .menu {
            background-color: #f9f9f9;
        }

        .menu .container ul{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            font-weight: 500;
            height: 65px;
            padding-bottom: 30px;
            overflow: hidden;
        }

        .menu .container .desplegar{
            height: auto;
        }

        .menu .container ul li{
            padding: 15px;
            width: 100%;
            margin: 4px;
        }

        .menu .container ul .firstMenu{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        
        .menu .container ul li div i{
            display: flex;
            font-size: 30px
        }

        .menu .container ul li .menuDisable{
            display: none;
        }

        .menu .container ul li .menuEnable{
            display: flex;
        }



    /*************************** HEADER ***************************/


    header .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    header .container h1{
    align-self: center;
    }

    header .container p{
        text-align: center;
        padding: 25px;
    }


    /*************************** SECTIONS ***************************/


    /* CAPACITACIONES */
    #sectionCapacitaciones .container{
        overflow: hidden;
    }
   
    #sectionCapacitaciones .container .capacitaciones{
        overflow-x: scroll;
    }

    #sectionCapacitaciones .container .capacitaciones::-webkit-scrollbar{
        display: none;
    }

    #sectionCapacitaciones .container .capacitaciones i{
        display: none;
    }

    #sectionCapacitaciones .container .capacitaciones .capacitacion{
        margin: 0px 50px;
        width: 150px;
    }


    /* USUARIOS */

    #sectionUsuarios .container .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;


    }

    #sectionUsuarios .container .cards .userCard{
        min-width: 90%;
        height: 300px;
        margin-bottom: 20px;
    }

    /* CONTACTANOS */
    
    #contacto .container h2, #contacto .container p{
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    }

    /* USUARIOS REGISTRADOS */

    #userList .container table {
        width: 100%;
    }

}



/************************************************************/
/*************************** Móvil ***************************/
/************************************************************/
@media (max-width: 534px){

    /* PREVIENE */
#sectionPreviene .container{
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 60px;
}

#sectionPreviene{
    transform: translateY(-40px);

}

#sectionPreviene .container img{
    max-width: 70%;
    object-fit: cover;
    border-radius: 16px;
     margin-bottom: 20px;
}

#sectionPreviene .container .contentTxt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0px;
    align-items: center;
    width: 80%;
}

#sectionPreviene .container .contentTxt p, #sectionPreviene .container .contentTxt h2{
    text-align: center;
}

#sectionUsuarios .container .cards .userCard{
    height: 350px;
}


    /* FOOTER */

footer .container .empresa{
    padding-top: 30px;
    text-align: center;
    align-items: center;
}

footer .container .empresa a{
margin: auto;
align-self: center;
}

footer .container .empresa p{
    text-align: center;
    padding-bottom: 0;
}

footer .container .links{
    text-align: center;
}


footer .container p{
    text-align: center;
}

footer .container .links ul{
    padding-top: 20px;
}

footer .container .links .rrss{
    justify-content: space-around;
}


}